%nav.c-menu
  = link_to("#{config[:site_url]}/", class: "c-menu__item", relative: true) do
    Department of Beards
  = link_to("#{config[:site_url]}/about", class: "c-menu__item", relative: true) do
    About
  = link_to("#{config[:site_url]}/contact", class: "c-menu__item", relative: true) do
    Contact Us
  = link_to("#{config[:site_url]}/contact", class: "c-menu__item", relative: true) do
    Beard Checker
