%section{id: "js-checker-question-#{question.id}", class: "js-checker-question is-#{show_initially ? "active" : "hidden"}"}
  %h2=question.question
  .c-responses.o-grid
    - question.responses.each do |response|
      %input{type: "radio", name: question.id, class: "c-responses__response-input", value: response.id, id: "js-checker-question-#{question.id}-#{response.id}", data: {proceed: response.proceed_to}}
      %label.o-grid__item.o-grid__item--half.c-responses__response{for: "js-checker-question-#{question.id}-#{response.id}"}
        %h3=response.heading
        =response.body
